@use "../abstract/" as *;

.footer {
  padding: 4rem 0;
  color: $clr--light;
  &__wrapper {
    @include between;
    text-align: center;
  }
h4{
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

&__nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }


 a {
    color: $clr--light;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      color: $clr--primary;
    }
  }

  p {
    font-size: 1.4rem;
    opacity: 0.8;
  }
}
 
