@use "../abstract/" as *;

.footer {
  padding: 3rem 0;
  background-color: $clr--secondary;
  margin-top: 20rem;
 line-height: 5rem;
  &__wrapper {
    @include between;
    text-align: center;
  }
h4{
  font-size: 3rem;
  margin-bottom: 2rem;
}

&__nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }


 a {
    color: $clr--dark
    ;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      color: $clr--primary;
    }
  }

  



  p {
    font-size: 1.4rem;
    opacity: 0.8;
  }
}
 
